<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>$title$ - blog.ssledz.pl</title>
        <link rel="stylesheet" href="/css/tufte.css" />
        <meta name="description" content="$description$">
    </head>
    <body>
        <header>
          <nav>
            <a href="/">Home</a>
            <a rel="author" target="_blank" href="https://ssledz.pl/">Contact</a>
            <a href="/archive.html">Archive</a>
          </nav>
        </header>

        <main role="main">
          <section>
            <h1>$title$</h1>
            $body$
          </section>
        </main>

        <footer>
          <a href="#top">top</a>
        </footer>
    </body>
</html>
